/* header */
.header-nav {
  box-shadow: 0px 4px 4px 0px #00000040;
  padding-left: 74px;
  & a {
    top: 14px;
  }
}
.header-menus {
  margin-left: 26%;
}
.header-menus-list {
  & li {
    position: relative;
    & a {
      position: relative;
      top: 0;
      font-family: Poppins;
      font-size: 16px;
      font-weight: normal;
      line-height: 24px;
    }
  }
}
.header-menus-list li a:hover {
  font-weight: 700;
  color: #752226;
}
.header-menus-list li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -40px;
  width: 100%;
  height: 4px;
  background-color: #752226;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}
.header-menus-list li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* hero-fold */
.hero-fold {
  height: 521px;
  width: 100%;
  background-image: url("./src/assets/Rectangle\ 34627820.png");
  background-repeat: no-repeat;
  background-size: cover;
  & .hero-content {
    padding-top: 116px;
    & h1 {
      font-weight: 600;
    }
  }
}
.product-strip {
  padding: 20px 0px 26px 0px;
  box-shadow: 0px 4px 4px 0px #00000040;
  & li {
    width: 25%;
    text-align: center;
  }
  & li:not(:first-child) {
    border-left: 1px solid #752226;
    height: 60px;
  }
}
.hero-fold.about-page {
  background-image: url("./src/assets/Rectangle\ 34627820.jpg");
}
.hero-fold.product-page {
  background-image: url("./src/assets/products.jpg");
}
.hero-fold.contacts-page {
  background-image: url("./src/assets/contact-us.jpg");
}
.heading {
  font-size: 52.77px;
  line-height: 62px;
}
.hero-fold .desc {
  font-size: 14px;
  line-height: 26px;
}
.hero-fold .para {
  font-size: 20px;
  line-height: 32.95px;
  margin-bottom: 36px;
}
.hero-fold .arrow-btn {
  border-left: 1px solid #2c2c2c;
  & svg {
    margin-top: 4px;
  }
}

/* About fold */
.about-fold {
  margin-bottom: 170px;
}
.about-feat ul li {
  width: 230px;
  & img {
    margin-right: 16px;
  }
}
.about-fold .content-wrap {
  width: 55%;
  margin-right: 60px;
  & h2 {
    margin-bottom: 50px;
  }
}
.about-fold .img-wrap {
  width: 45%;
}
.about-fold .img-wrap .count-wrap {
  justify-content: flex-end;
  margin-bottom: 120px;
}
.about-fold .img-wrap .count-wrap div {
  max-width: 160px;
}
.about-btn {
  padding: 20px 30px;
  max-width: 220px;
  & svg {
    margin-right: 16px;
  }
}
.join-popup {
  position: absolute;
  bottom: -36px;
  left: 30px;
  padding: 110px 40px 52px;
  max-width: 230px;
}

/* benefit-fold */
.benefit-fold h2 {
  max-width: 590px;
}
.benefit-item {
  padding: 52px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px #0000001a;
}
.benefit-item .text-desc {
  max-width: 290px;
}

/* cta-section */

.cta-fold {
  border-radius: 30px;
  overflow: hidden;
  max-height: 460px;
}
.cta-content {
  padding: 92px 0px 72px 66px;
}
.cta-content .text-md {
  font-family: Poppins-Bold;
  font-weight: 600;
}
.cta-content .contact-btn {
  padding: 13px 30px 13px 30px;
  background-color: #fff;
  display: inline-block;
  border-radius: 3px;
}
.cta-img img {
  position: absolute;
  right: 0;
  width: 647px;
  height: 460px;
}

/* testimonial */

.testimonial .text-wrap {
  max-width: 900px;
}
.testimonial .text-wrap p {
  margin-bottom: 76px;
}
.testimonial .text-wrap h3 {
  font-family: Poppins-Light;
  margin-bottom: 60px;
  font-size: 28px;
  line-height: 46px;
}
.testimonial .quote1,
.testimonial .quote2 {
  position: absolute;
  font-size: 80px;
}
.testimonial .quote1 {
  left: -40px;
}
.testimonial .quote2 {
  right: -40px;
}
.testimonial-card {
  & h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }
  & p {
    font-family: Poppins-Light;
  }
}

/* feature-fold */

.feature-fold {
  background-color: #f0f1fa;
  padding: 55px 0px 100px 0px;
}
.feature-wrap ul {
  margin-bottom: 120px;
}
.feature-track {
  max-width: 440px;
  * {
    margin-bottom: 20px;
  }

  & h3 {
    font-size: 31.15px;
    font-weight: 600;
    line-height: 40px;
  }
  & p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #0d0e2599;
  }
}

.screw-img {
  width: 900px;
  position: absolute;
  bottom: -220px;
  left: 264px;
}

/* .product-fold */
.product-fold {
  & .title {
    font-size: 50px;
    font-weight: 600;
    line-height: 56.81px;
  }
}

.products {
  flex-wrap: wrap;
}
.products-item {
  padding: 66px 30px 42px;
  background-color: #fff;
  margin-bottom: 20px;
  margin-right: 20px;
  max-width: 370px;
}
.products-item:nth-child(3n + 3) {
  margin-right: 0px;
}
.products-item img {
  height: 240px;
}

.products-item .badge {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ffa030;
  padding: 10px 22px;
  font-family: Poppins-Light;
}

/* why-choose-fold */

.why-choose-fold {
  padding: 70px 0px 96px;
  & h2 {
    margin-bottom: 68px;
  }
}

.why-wrap-item {
  height: 330px;
  background-color: #fff;
  padding: 26px 34px 30px;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  & svg {
    margin-bottom: 20px;
  }
  & h3 {
    margin-bottom: 16px;
  }
}

.founder-cont {
  max-width: 430px;
}
.future-plan-fold {
  height: 700px;
}

.future-plan-fold .main-wrap {
  z-index: 10;
  top: 90px;
}

.bg-future,
.future-count,
.future-strip {
  background-color: #181f4d;
}

.bg-future {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
}
.play-btn {
  position: absolute;
  bottom: 9px;
  left: 44%;
  line-height: 0;
  padding: 10px;
  border-radius: 50%;
  z-index: 2;
}
.future-strip {
  position: absolute;
  bottom: 4px;
  left: 35%;
  height: 40px;
  width: 170px;
}
.future-count {
  padding: 4px 40px 46px;
  position: absolute;
  top: 0;
  left: 35%;
  & p {
    color: #fff;
  }
  & :nth-child(1) {
    font-size: 52px;
    line-height: 62px;
  }
}

.future-plan-fold {
  & .img-wrap img {
    width: 575px;
    height: 100%;
    margin-right: 60px;
  }
  & .content-wrap {
    width: 566px;
    & h2 {
      font-family: Poppins;
      font-weight: 600;
    }
  }
}
.future-plan-fold .content-wrap p {
  color: #ffffffcc;
}
.future-plan-fold .card-wrap li {
  border-radius: 3px;
  max-width: 150px;
  & p {
    color: #2c2c2c;
  }
  & svg {
    margin-bottom: 20px;
  }
}

.map.container {
  padding: 0px;
  border-radius: 30px;
  box-shadow: 0px 12px 42px -4px #18274b1f;
  box-shadow: 0px 8px 18px -6px #18274b1f;
}
.map img {
  z-index: 3;
  line-height: 0;
  border-radius: 30px;
  vertical-align: middle;
  margin-top: -240px;
}

footer .container {
  padding: 100px 0px;
}
.footer-links {
  padding-bottom: 46px;
  border-bottom: 1px solid #f9f9f980;
}
.footer-wrap li {
  margin-bottom: 10px;
}
.subscribe {
  background-color: #ffffff0d;
  padding: 30px 50px;
}
.subscribe-desc {
  max-width: 266px;
}
.subscribe input {
  padding: 16px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: none;
}
.subscribe {
  & a {
    vertical-align: middle;
    line-height: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #181f4d;
  }
}
.mobile-menus {
  display: none;
}
.hamburger {
  display: none;
}
.header-logo {
  line-height: 0;
}
@media (min-width: 120px) and (max-width: 1200px) {
  .footer div {
    padding: 20px;
    text-align: center;
  }
  .testimonial .quote1 {
    left: -10px;
  }
  .testimonial .quote2 {
    right: 0px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .screw-img {
    width: 350px;
    height: 200px;
    left: 328px;
  }
}
@media (min-width: 767px) and (max-width: 1000px) {
  .founder-wrap div {
    margin-right: 0px;
  }
  .founder-wrap {
    flex-direction: column;
  }
  .product-strip li {
    height: 90px !important;
  }
  .header-menus-list {
    & li {
      & a {
        top: 14px;
      }
    }
  }
  .cta-fold,
  .about-fold {
    flex-direction: column;
  }
  .screw-img {
    width: 350px;
    height: 200px;
    left: 230px;
  }

  .about-fold .img-wrap,
  .about-fold .content-wrap {
    width: 100%;
  }
  .cta-fold {
    overflow: auto;
    height: 100%;
    max-height: 100%;
    border-radius: 0px;
  }
  .cta-img img {
    position: relative;
    bottom: -6px;
  }
  .cta-content {
    padding: 92px 66px 72px 66px;
    text-align: center;
  }
  .products {
    justify-content: space-around;
  }
  .products-item {
    max-width: 342px;
  }
  .products-item:nth-child(2n + 2) {
    margin-right: 0px !important;
  }
  .benefit-item {
    margin-right: 14px;
    padding: 20px;
  }
  .footer-links {
    flex-direction: column;
  }
  .subscribe-desc {
    max-width: 100%;
  }
  .subscribe div {
    flex-direction: row;
    justify-content: center;
  }
  .subscribe p {
    text-align: center;
  }
  .future-plan-fold .main-wrap {
    flex-direction: column;
  }
  .bg-future {
    width: 100%;
  }
  .card-wrap {
    justify-content: space-evenly;
  }
  .future-plan-fold {
    height: 1200px;
  }
  .future-plan-fold {
    & .content-wrap {
      margin-top: 40px;
      text-align: center;
      width: 100%;
    }
  }
  .future-plan-fold {
    & .img-wrap img {
      width: 100%;
      height: 100%;
      margin-right: 0px;
    }
  }
  .why-wrap {
    flex-direction: column;
  }
  .why-wrap-item {
    text-align: center;
    height: 100%;
    margin-bottom: 24px;
    margin-right: 0px;
  }
}

@media (min-width: 120px) and (max-width: 766px) {
  .header-menus-list {
    & li {
      & a {
        font-size: 14px;
      }
    }
  }
  .header-nav {
    & a {
      top: 10px;
    }
  }
  .header-logo img {
    height: 70px;
    width: 100%;
  }
  .hamburger {
    cursor: pointer;
    display: block;
    height: 2px;
    width: 36px;
    background-color: #181f4d;
    position: relative;
    transition: rotate 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  .hamburger::after,
  .hamburger::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: #181f4d;
  }
  .hamburger::after {
    top: 12px;
  }
  .hamburger::before {
    top: -12px;
  }

  .hamburger.active {
    background-color: #fff;
    transition: rotate 0.4s ease-in-out, opacity 0.3s ease-in-out;
  }
  .hamburger.active::before {
    rotate: 311deg;
    top: 0;
    transition: rotate 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  .hamburger.active::after {
    rotate: 45deg;
    top: 0;
    transition: rotate 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .mobile-menus {
    display: block;
    position: absolute;
    width: 100%;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Specify the properties you want to animate */
  }

  .mobile-menus.active {
    position: relative;
    transform: translateX(0);
    opacity: 1;
    display: block;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Specify the properties you want to animate */
  }
  .header-menus {
    display: none;
  }
  .header-menus-list {
    width: 100%;
    flex-direction: column;
    height: 100vh;
    text-align: center;
  }
  .header-menus-list li {
    margin-bottom: 20px;
  }
  .founder-wrap div img {
    height: 100%;
  }
  .founder-wrap div {
    margin-right: 0px;
  }
  .founder-wrap {
    flex-direction: column;
  }
  .why-choose-fold {
    padding: 34px 0px 34px;
  }
  .why-wrap {
    flex-direction: column;
  }
  .why-wrap-item {
    text-align: center;
    height: 100%;
    margin-bottom: 24px;
    margin-right: 0px;
  }
  .bg-future {
    width: 100%;
  }
  .future-plan-fold {
    height: 1400px;
  }
  .future-strip,
  .future-count {
    left: 25%;
  }
  .future-plan-fold .main-wrap {
    flex-direction: column;
  }
  .card-wrap li {
    margin-bottom: 26px;
    margin-right: 0px;
  }
  .card-wrap {
    flex-direction: column;
  }
  .future-plan-fold {
    & .content-wrap {
      width: 100%;
      margin-top: 40px;
      text-align: center;
    }
  }
  .future-plan-fold {
    & .img-wrap img {
      width: 100%;
      height: 100%;
      margin-right: 0px;
    }
  }
  .header-nav {
    padding-left: 0px;
  }
  .header-nav .container {
    flex-direction: row;
    justify-content: space-between;
  }
  /* .header-menus {
    margin-left: 2%;
  } */
  /* .header-nav {
    & a {
      top: 14px !important;
    }
  } */
  .screw-img {
    /* width: 300px;
    height: 200px;
    left: 40px;
    bottom: -131px; */
    display: none;
  }
  .cta-content {
    padding: 32px;
    text-align: center;
  }
  .cta-fold {
    overflow: auto;
    height: 100%;
    max-height: 100%;
    border-radius: 0px;
  }
  .cta-img img {
    position: relative;
    bottom: -6px;
    width: 100%;
    height: 100%;
  }
  .footer-wrap {
    text-align: center;
  }
  .footer-links {
    flex-direction: column;
  }
  .subscribe div {
    flex-direction: row;
    justify-content: center;
  }
  .products-item {
    max-width: 100%;
    padding: 32px;
    margin-right: 0px;
  }
  .products-item:nth-child(3n + 3) {
    margin-right: 20px;
  }
  .about-fold .content-wrap {
    margin-right: 0px;
  }
  .benefit-item {
    margin-right: 0px;
    margin-bottom: 20px;
    padding: 24px;
  }
  .cta-fold,
  .about-fold,
  .benefit-fold ul {
    flex-direction: column;
  }
  .about-fold .img-wrap,
  .about-fold .content-wrap {
    width: 100%;
    text-align: center;
  }
  .footer .py-14 {
    flex-direction: column;
  }
  .testimonial .text-wrap h3 {
    font-size: 12px;
    line-height: 20px;
  }
  .text-md-200 {
    font-size: 22px;
    line-height: 34.44px;
  }
  .text-md-50 {
    font-size: 15px;
    line-height: 29.44px;
  }
  .text-base-100 {
    font-size: 12px;
    line-height: 23px;
  }
  .about-btn {
    margin-bottom: 20px;
    max-width: 100%;
  }
  .about-feat ul {
    margin-bottom: 20px;
  }
  .about-feat {
    flex-direction: column;
  }
  .feature-fold {
    padding: 32px 12px;
  }
  .feature-wrap ul {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .feature-track {
    margin-bottom: 20px;
  }
  h2 {
    text-align: center;
  }
  .heading {
    font-size: 30.77px;
    line-height: 40px;
  }
  .hero-fold .para {
    font-size: 16px;
  }
  .text-md {
    font-size: 22.66px;
    line-height: 32.92px;
  }
  .feature-track {
    & h3 {
      font-size: 23.15px;
      font-weight: 600;
      line-height: 31px;
    }
  }
  .feature-track {
    & p {
      font-size: 14px;
      line-height: 24px;
    }
  }
  .product-fold {
    & .title {
      font-size: 30px;
      font-weight: 600;
      line-height: 39.81px;
    }
  }
  .testimonial .quote2 {
    bottom: -24px;
  }
  footer .container {
    padding: 34px 0px;
  }
  .testimonial .text-wrap p {
    margin-bottom: 33px;
  }
  aside {
    font-size: 10px;
    line-height: 16px;
  }
  .about-fold {
    margin-bottom: 100px;
  }
  .about-feat {
    margin-bottom: 26px;
  }
  .about-fold .img-wrap .count-wrap {
    margin-bottom: 30px;
  }
  .map img {
    height: 200px;
  }
  .product-strip {
    & li {
      width: 100%;
      margin-bottom: 30px;
      text-align: center;
    }
  }
  .product-strip ul {
    flex-direction: column;
  }
  .product-strip li {
    border-left: none !important;
  }
}
